{
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-prettier",
    "stylelint-order"
  ],
  "rules": {
    "prettier/prettier": true,
    "order/properties-alphabetical-order": true
  }
}
