---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import GlobalLayout from "../../layouts/GlobalLayout.astro";

export async function getStaticPaths() {
  const workEntries = await getCollection("works");
  return workEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<GlobalLayout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <Image src={entry.data.cover} alt="" />
  <Content />
</GlobalLayout>
