---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import Footer from "../components/Footer.astro";
---

<GlobalLayout>
  <div class="flex h-screen flex-col gap-16 px-3 pt-12">
    <div id="p5-container" class="fixed inset-0 -z-10 opacity-50"></div>
    <div
      class="flex flex-grow flex-col items-center justify-center gap-6 text-center"
    >
      <h1 class="flex flex-col gap-1 font-bold">
        <span class="text-8xl">404</span>
        <span class="text-xl">ページが見つかりません</span>
      </h1>
      <p>ページが移動または削除されたか、URLの入力間違いの可能性があります。</p>
      <a href="/" class="text-cyan-600 underline">トップページへ戻る</a>
    </div>
    <Footer />
  </div>
</GlobalLayout>

<script>
  import { noiseFlowFields } from "../effects/noiseFlowFields";

  // Drawing p5 canvas
  const p5Container = document.getElementById("p5-container");
  if (!p5Container) {
    throw new Error("Element with ID 'p5-container' not found");
  }

  noiseFlowFields(p5Container);
</script>
