<footer
  class="flex flex-col gap-3 rounded-tl-xl rounded-tr-xl bg-zinc-800 px-4 py-3 text-zinc-50 sm:px-12 sm:py-10"
>
  <div class="flex flex-col justify-between gap-3 sm:flex-row">
    <div class="flex flex-col justify-between">
      <ruby class="grid gap-1"
        ><span class="text-2xl font-bold sm:text-3xl">綿貫&nbsp;佳祐</span><rp
          >(</rp
        ><rt class="flex text-xs font-bold sm:text-sm"
          >ワタヌキ&nbsp;<span class="tracking-tighter">ケ</span><span
            class="tracking-tighter">イ</span
          >スケ</rt
        ><rp>)</rp></ruby
      >
    </div>
    <div
      class="flex flex-col items-start gap-x-8 gap-y-3 sm:flex-row sm:gap-12"
    >
      <div class="flex flex-col gap-1 border-l border-zinc-500 py-2 pl-4">
        <a href="/">トップ</a>
        <a href="/about-me">私について</a>
        <a href="/#works">制作物</a>
      </div>
      <div
        class="flex flex-col gap-1 border-l border-zinc-500 py-2 pl-4 text-sm"
      >
        <a href="https://twitter.com/xrxoxcxox">X (Twitter)</a>
        <a href="https://www.instagram.com/xrxoxcxox/">Instagram</a>
        <a href="https://www.threads.net/@xrxoxcxox">Threads</a>
        <a href="https://github.com/xrxoxcxox">GitHub</a>
        <a href="https://qiita.com/xrxoxcxox">Qiita</a>
      </div>
    </div>
  </div>
  <small class="text-xs">©️&nbsp;2023&nbsp;綿貫&nbsp;佳祐</small>
</footer>
