<footer
  class="rounded-tl-xl rounded-tr-xl bg-stone-800 px-12 py-10 text-stone-50"
>
  <div class="grid grid-flow-row grid-cols-6 justify-between">
    <div class="col-span-4 flex flex-col justify-between">
      <ruby class="grid gap-1"
        ><span class="text-3xl font-bold">綿貫&nbsp;佳祐</span><rp>(</rp><rt
          class="flex text-sm font-bold"
          >ワタヌキ&nbsp;<span class="tracking-tighter">ケ</span><span
            class="tracking-tighter">イ</span
          >スケ</rt
        ><rp>)</rp></ruby
      >
      <small class="text-xs">©️&nbsp;2023&nbsp;綿貫&nbsp;佳祐</small>
    </div>
    <div
      class="flex flex-col gap-1 self-start border-l border-stone-500 py-2 pl-5"
    >
      <a href="/">トップ</a>
      <a href="/about-me">私について</a>
      <a href="/#works">制作物</a>
    </div>
    <div
      class="flex flex-col gap-1 border-l border-stone-500 py-2 pl-5 text-sm"
    >
      <a href="https://twitter.com/xrxoxcxox">X (Twitter)</a>
      <a href="https://www.instagram.com/xrxoxcxox/">Instagram</a>
      <a href="https://www.threads.net/@xrxoxcxox">Threads</a>
      <a href="https://github.com/xrxoxcxox">GitHub</a>
      <a href="https://qiita.com/xrxoxcxox">Qiita</a>
    </div>
  </div>
</footer>
