---
const { linkTo = "/" } = Astro.props;
---

<footer
  class="flex flex-wrap justify-between border-t border-zinc-300 py-5 text-xs"
>
  <a href={linkTo}>トップページ</a>
  <div class="flex gap-2">
    <a href="https://twitter.com/xrxoxcxox">X (Twitter)</a>
    <a href="https://www.instagram.com/xrxoxcxox">Instagram</a>
    <a href="https://github.com/xrxoxcxox">GitHub</a>
  </div>
  <small class="text-[100%]">©️ 2023 綿貫 佳祐</small>
</footer>
