---
import "@fontsource/shippori-mincho/400.css";
import "@fontsource/shippori-mincho/700.css";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
const { title = "綿貫佳祐", excerpt = "綿貫佳祐のポートフォリオ" } =
	Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={excerpt} />
    <ClientRouter />
  </head>
  <body class="bg-zinc-100 font-serif text-zinc-950">
    <slot />
  </body>
</html>
