---
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import Footer from "../../components/Footer.astro";
import { getEntry } from "astro:content";
const aboutMe = await getEntry("about-me", "index");
const { Content } = await aboutMe.render();
---

<GlobalLayout>
  <div class="flex flex-col gap-16 px-16 pt-16">
    <div class="mx-auto grid w-content grid-cols-3 gap-x-6 gap-y-10">
      <h1 class="col-span-full text-5xl font-bold">{aboutMe.data.title}</h1>
      <ul
        class="sticky top-16 col-start-1 col-end-2 row-start-2 row-end-3 text-xs"
      >
        {aboutMe.data.keywords.map((keyword) => <li>{keyword}</li>)}
      </ul>
      <div
        id="content"
        class="col-start-2 col-end-4 row-start-2 row-end-5 text-md"
      >
        <Content />
      </div>
      <a
        href="/"
        class="col-start-1 col-end-2 row-start-4 row-end-5 self-end text-cyan-600 underline"
        >トップページへ</a
      >
    </div>
    <Footer />
  </div>
</GlobalLayout>

<style is:global>
  #content > * + * {
    @apply mt-5;
  }
  #content h2 {
    @apply mt-10 text-4xl font-bold;
  }
  #content > :not(h2) {
    @apply pl-8;
  }
  #content > h3 {
    @apply text-2xl font-bold;
  }
  #content a {
    @apply text-cyan-600 underline;
  }
  #content ul {
    @apply list-inside list-disc;
  }
  #content ol {
    @apply list-inside list-decimal;
  }
  #content :where(li, ol) ul {
    @apply list-inside list-[circle] pl-4;
  }
</style>
