---
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import Footer from "../../components/Footer.astro";
import { getEntry, render } from "astro:content";
const aboutPortfolio = await getEntry({
	collection: "about-portfolio",
	id: "index",
});
const { Content } = await render(aboutPortfolio);
---

<GlobalLayout>
  <div class="flex flex-col gap-16 px-3 pt-10 sm:px-5 md:px-7 md:pt-16">
    <article
      class="mx-auto grid w-[min(100%,_theme('width.content'))] grid-cols-1 gap-x-6 gap-y-6 sm:gap-y-8 md:grid-cols-3 md:gap-y-10"
    >
      <h1
        id="grainy-gradient-observation-target"
        class="col-span-full text-3xl font-bold sm:text-5xl md:text-7xl"
      >
        {aboutPortfolio.data.title}
      </h1>
      <div class="top-16 flex flex-col gap-3 md:sticky">
        <h2 class="font-bold">使用している技術</h2>
        <ul
          class="top-16 text-xs md:sticky md:col-start-1 md:col-end-2 md:row-start-2 md:row-end-3"
        >
          {aboutPortfolio.data.keywords.map((keyword) => <li>{keyword}</li>)}
        </ul>
      </div>
      <div
        id="content"
        class="text-md md:col-start-2 md:col-end-4 md:row-start-2 md:row-end-5"
      >
        <Content />
      </div>
    </article>
    <Footer />
  </div>
</GlobalLayout>

<style is:global>
  #content > * + * {
    @apply mt-5;
  }
  #content h2 {
    @apply mt-10 text-3xl font-bold;
  }
  #content > h3 {
    @apply text-xl font-bold;
  }
  #content a {
    @apply text-cyan-600 underline;
  }
  #content ul {
    @apply list-disc pl-4;
  }
  #content ol {
    @apply list-decimal pl-4;
  }
  #content :where(li, ol) ul {
    @apply list-[circle] pl-4;
  }
  #content table {
    @apply w-full border-collapse rounded-sm;
  }
  #content table th {
    @apply border border-zinc-300 bg-zinc-200/50 p-2 text-left font-bold;
  }
  #content table td {
    @apply border border-zinc-300 bg-zinc-100/50 p-2;
  }
</style>
